.search-container button {
     float: right;
     padding: 6px 10px;
     margin-top: 8px;
     margin-right: 16px;
     background: rgb(46, 117, 180);
     font-size: 17px;
     border: none;
     cursor: pointer;
     color:#fff;
}
 input[type=text] {
     font-family: 'Helvetica Neue';
     padding: 6px;
     margin-top: 8px;
     font-size: 18px;
     border: none;
     color: #666766;
     background:#eee;
     color:#666766;
     width: 300px;
}
 .search-container button:hover {
     background: rgb(56, 92, 124);
}
 .banner img {
     width: 100%;
}
 .jumbotron {
     padding: 0px !important;
}
 .list-group-flush .list-group-item {
     background-color: rgb( 236, 240, 241) !important;
     border: none !important;
}
 .rounded-rectangle {
     display: block;
     background-color: #fff;
     border-radius: 20px;
}
 a.btn:focus {
     box-shadow: none !important;
}
 .btn {
     overflow: hidden;
}
 .btn img:hover {
     box-shadow: 0 0 11px rgba(33,33,33,.2);
}
 .btn img {
     width: 200px;
     height: 200px;
     border-radius: 30px;
}
 .carousel-item {
     background-color: #b7babe;
}
 .carousel-item img {
     width: 200px;
     height: 200px;
     padding: 20px;
}
 .carousel-indicators li {
     background-color: rgb(236, 240, 241);
}
 .carousel-indicators .active {
     background-color: #000;
}
 .carousel-control-next-icon , .carousel-control-prev-icon {
     color:#cdcdcd;
}
 .list-group-item a {
     font-family: 'Helvetica Neue';
     font-size: 21px;
     color:rgb(102, 102, 102 );
}
 .left-side {
     background-color: rgb(236, 240, 241);
}
 .right-side h6 {
     font-family: 'Helvetica Neue';
     color: rgb(102, 102, 102 );
     font-size: 21px;
}
 .right-side p {
     font-family: 'Helvetica Neue';
     color: rgb(75, 75, 75);
     font-size: 21px;
}
 .modal-popup h3 {
     font-family: 'Helvetica Neue';
     font-size: 36px;
}
 .modal-popup h5 {
     font-family: 'Helvetica Neue';
     font-size: 24px;
}
 .modal-popup span p{
     font-family: 'Helvetica Neue';
     font-size: 12px;
}
 .modal-footer button {
     font-family: 'Helvetica Neue';
     font-size: 12px;
}
 .fresh-food {
     padding-top: 20px;
     height: 100vh;
}
 .fresh-food h2{
     font-family: 'Helvetica Neue';
     font-size: 60px;
     font-weight: bold;
}
 .fresh-food h3{
     font-family: 'Helvetica Neue';
     font-size: 36px;
     font-weight: medium;
}
 .fresh-food h5{
     font-family: 'Helvetica Neue';
     font-size: 36px;
     font-weight: medium;
}
 .hover-menu {
     display: none;
     display: none;
     position: absolute;
     right: 0;
     left: 317px;
     top: 0;
     background-color: #cdcdcd;
     min-width: 250px;
     z-index: 1;
     list-style: none;
     color:#fff;
}
 .hover-menu a {
     color:#fff;
}
 .list-group-item:hover {
     background-color: #cdcdcd !important;
     text-decoration: none;
}
 .list-group-item a:hover {
     text-decoration: none;
}
 .list-group-item:hover .hover-menu {
     display: block;
}
